/* RESET STYLES & HELPER CLASSES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
  --level-1: #8dccad;
  --level-2: #f5cc7f;
  --level-3: #7b9fe0;
  --level-4: #f27c8d;
  --orange: darkorange;
  --black: black;
}

* {
  
  box-sizing: border-box;
}

body {
  margin-left: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif;
  
}
header{
  margin-bottom: 20px;
}

.layout{
  display:grid;
  
  grid-template-columns: max-content max-content max-content;
}

.controls, .result{
  text-align: left;
  margin-left:10px;
}


.controls button{
  margin-bottom:10px;
  padding:5px;
}
.l1,
.l2,
.l3,
.box {
  border: 1px solid black;
}
.l1 {
  width:300px;
  height: 495px;
  background-color: var(--level-1);
  
}

.l2 {
  width: 80%;
  height: 40%;
  background-color: var(--level-2);

}

.l3 {
  height: 50px;
  width: 50px;
  background-color: var(--level-3);
}


.circle{
  width:26%;
  height:26%;
  border-radius:50%;
  background-color:var(--orange);
  border: 1px solid black;
  
}
.l1, .l2, .l3, .circle{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  overflow: hidden;
  margin:2px;
}

.box{
  padding:5px;
  margin:5px 0;
  color:white;
}
.red{
  background-color: red;
}
.pink{
  background-color: #f27c8d;
}
.orange{
  background-color:var(--orange);
}


#infoBox{
  width: 300px;
}